//
@use 'bootstrap';

header{
    a{
        color: blue !important;
        font-size: 22px;
        &:hover{
            transform: scale(1.2);
            border-bottom: 2px solid blue;
        }
        &.active{
            border-bottom: 2px solid blue;
        }
    }
}
main{
    background-image: url('https://media.istockphoto.com/vectors/vector-set-of-comics-icons-vector-id619394032');
    background-repeat: repeat;
}
